---
import LinkLayout from '../../../../layouts/LinkLayout.astro';
import ArticlePreview from '../../../../components/ArticlePreview.astro';
import Pagination from '../../../../components/Pagination.astro';

export async function getStaticPaths({paginate}) {
    const tags = new Map();
    Astro.fetchContent('../../../../_posts/articles/*.md').forEach(article => {
        article.tags.forEach(tag => {
            const tagArticles = tags.get(tag) || [];
            tagArticles.push(article);

            tags.set(tag, tagArticles);
        });
    });

    return Array.from(tags, ([tag, articles]) => paginate(articles, { params: { tag }, pageSize: 5 }));
}

const { tag } = Astro.request.params;
const { page } = Astro.props;
---

<LinkLayout>
    <h2>{tag}</h2>

    {page.data.map((article) => (<ArticlePreview article={article} />))}

    <Pagination page={page} />
</LinkLayout>
