---
const {title} = Astro.props;
---

<html>
  <head>
    <title>{title}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="{Astro.resolve('../styles/global.css')}">
  </head>
  <body>

    <slot />

  </body>
</html>
